body {
    background-color: #fff !important;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

h3,
.dev,
.fab {
    color: #FF5733;
}

.h5 {
    font-size: .8rem;
}

.h6 {
    font-size: .9rem;
}

.project a {
    color: #FF5733;
    font-size: .8rem;
    font-weight: bold;
}

.project a:hover {
    color: #000000;
}

.card-text {
    font-size: .8rem;
}

.badge-b {
    background: #f8f9fa !important;
    color: #000000;
    font-weight: 600;
    font-size: .7rem;
    line-height: 24px;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
}